@{
    ViewData["Title"] = "Contact: ";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>
        <a href="https://github.com/eiire"> GitHub </a><br />
        <a href="https://vk.com/eiire"> VK </a><br />
        <a href="https://www.linkedin.com/in/eiire/"> LinkedIn </a><br />
</address>
